/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.full-img {
	width: 100%;
}

.template {
	text-align: center;
}

.template img {
	max-width: 70%;
}

.template a {
	max-width: 50%;
	margin: auto;
	text-align: center;
}

.template .col-md-4 {
	margin-bottom: 20px;
}